<div class="footer-container">
    <div class="footer-napoletta-social-media">
        <span>Redes sociais!</span>
        <ul>
            <li><a target="_blank" [attr.href]="'//' + 'www.instagram.com/napolettapizzas/'"><i
                        class="fa-brands fa-instagram"></i></a>
            </li>
            <li><a target="_blank"
                    [attr.href]="'//'+'api.whatsapp.com/send/?phone=5591982325710&text&type=phone_number&app_absent=0'"><i
                        class="fa-brands fa-whatsapp"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-poweredBy">
        <span>Powered by <a target="_blank"
                [attr.href]="'//' + 'www.linkedin.com/in/rafael-batista-ferreira-10529a234'">Rafael
                Ferreira</a></span>
    </div>
</div>