<div class="home-container flex flex-col items-center justify-center mx-20 h-screen">
    <div class="p-5 grid grid-cols-2 items-center">
        <div class="flex flex-col items-center space-y-8">
            <div class="text-5xl animate-slide-in">A <strong>Melhor Pizza</strong> Napoletana De
                Belém!</div>
            <div class="text-xl animate-slide-in">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                tincidunt, metus eu
                ornare
                condimentum, ante mi fermentum nulla, ut consequat mauris diam eu urna</div>
            <a class="mt-10 rounded-full bg-red-800 py-2 p-10 border border-transparent text-center text-xl text-white transition-all shadow-md hover:shadow-lg  focus:shadow-none hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
                href="#menu">Cardápio</a>
        </div>
        <div class="relative flex justify-center items-center">
            <div
                class="absolute bg-beige w-96 h-96 rounded-full -bottom-10 right-16 opacity-15 shadow-black drop-shadow-lg">
            </div>
            <img src="images/bgPizza.png" class="w-4/6 rounded-lg shadow-black drop-shadow-lg" alt="">
        </div>
    </div>
</div>