.clip-wave {
    clip-path: ellipse(60% 40% at 50% 50%);
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slideIn 800ms ease-out forwards;
  }