.small-pizza-card {
    margin-right: 20px;
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
    margin-top: 15px;
    justify-content: center;
  }

  .small-pizza-card-name-price{
    display: flex;
    flex-direction: column;
    width: 85px;
    margin-right: 5px;
  }

  .small-pizza-card-name-price h4{
    font-weight: bold;
  }
  .small-pizza-card-price{
    color: red;
  }
  .small-pizza-card-image{
    display: inline-block;
    margin-left: 10px;
  }
  .small-pizza-card-image img{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 140px;
    border-radius: 10%;
    margin-left: 20px;
  }