<div class="home-container">
    <div class="home-title-img-container">
        <div class="home-title-container">
            <h1>
                Bem-vindo à <span class="logo">Napolettá</span>!
            </h1>
            <span>A melhor pizzaria napolitana de Belém</span>
            <div class="call-button">
                <button [routerLink]="['Cardapio']" class="btn btn-danger" id="btCardapio">Cardápio</button>
                <button class="btn btn-success" id="btAbout">Sobre nós</button>
            </div>
        </div>
        <img src="assets\images\image.png" alt="">
    </div>
    <div class="home-carrousel-container">
        <div class="carousel-item">
            <img src="" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
    </div>
</div>