<div class="home-container">
    <h1>O que é uma Napolettá?</h1>
    <div class="home-text-image">
        <div class="paragraphs">
            <p>As nossas pizzas napolitanas tem uma textura de massa mais “elástica” ou “esponjosa”, graças a todo o
                processo
                delicado que nós fazemos em relação ao ar da massa durante a
                amassadura. Do mesmo modo, a massa de pizza napolitana tem uma maior percentagem de água por grama de
                farinha, o que lhe confere a sua textura particular.</p>
            <p>Então venha degustar da melhor pizza Napolitana de Belém!</p>
        </div>
        <img src="assets/images/image.png" alt="">
    </div>
</div>