<div class="menu-bar-container">
    <img src="assets\images\napolettáImg.png" alt="napolettá logo">
    <div class="menu-bar-tabs">
        <ul>
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['cardapio']">Cardápio</a></li>
            <li><a [routerLink]="">Sobre nós</a></li>
        </ul>
    </div>
    <div class="menu-bar-icons">
        <i class="fa-solid fa-cart-shopping" id="cart" (click)="openAndCloseCart()"><span
                class="badge">{{user.cart.length}}</span></i>
        <i class="fa-solid fa-user"></i>
    </div>
</div>


<div class="cart">
    <div class="cart-content shadow-sm" [class.show]="openCart">
        <div class="cart-exit">
            <i class="fa-solid fa-trash" style="color: #e00b0b;" (click)="deleteCart()"></i>
            <i class="fa-solid fa-circle-xmark" style="color: #e00b0b;" (click)="openCart=!openCart"></i>
        </div>
        <app-small-pizza-card *ngFor="let p of user.cart" [smallPizza]="p"></app-small-pizza-card>
        <div class="total-price">
            <span>R${{totalPrice}}</span>
        </div>
    </div>
</div>