*, *:before, *:after {
  box-sizing: border-box;
}

.menu-bar-container{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    background: linear-gradient(45deg, #da333a, #ff6363);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
img{
    margin: 15px;
    border-radius: 5px;
    width: 100px;
}

.menu-bar-tabs{
    display: flex;
    align-items: center;
}

.menu-bar-tabs a{
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    width: 100%;      
    height: 100%;    
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    transition: all 300ms ease-in-out;
  }

.menu-bar-tabs a:hover{
    backdrop-filter: brightness(0.7);
}


.menu-bar-icons i{
  padding-right: 50px;
  color: white;
  font-size: 30px;
  transition: all 300ms ease-in-out;
}

.menu-bar-icons i:hover{
  color: #386641;
}
.menu-bar-icons {
  display: flex;
  align-items: center;
  position: relative; /* Torna o ícone do carrinho o ponto de referência */
}

.menu-bar-icons #cart {
  position: relative; /* Posição relativa do ícone para a badge */
}

.badge {
  position: absolute;
  top: -10px; /* Ajuste para posicionar a badge no topo */
  right: 70px; /* Ajuste para posicionar a badge à direita */
  background-color: #386641;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  border: 1px solid white;
}
.cart {
    position: fixed;
    top: 90px;
    right: 180px;
    .cart-content {
      position: absolute;
      right: 0;
      left: -120px;
      background: white;
      border-radius: 15px;
      overflow: auto;
      transition: max-height 0.3s ease;
      max-height: 0;
      font-size: 20px;
      font-weight: bold;
      &.show {
        max-height: 900px;
        box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.4);
        width: 300px;
      }
      .cart-exit{
        display: flex;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 10px;
        justify-content: space-between;
      }
      .cart-exit i{
        margin-right: 20px;
      }
      .cart-exit i:hover{
        transform: scale(1.1);
      }
      .cart-exit i:active{
        transform: translateY(0.5px);
      }
      .total-price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 20px;
        color: red;
        margin-top: 10px;
        font-size: 25px;
        margin-bottom: 15px;
      }
      .btn{
        font-size: 20px;
        margin-left: 230px;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }
}

.total-price span{
  font-family: 'Montserrat', sans-serif;
}

app-small-pizza-card{
  margin-top: 10px;
}

.profile-container {
  position: fixed;
  top: 90px;
  right: 180px;
  .profile-content {
    position: absolute;
    right: 0;
    left: -120px;
    background: white;
    border-radius: 15px;
    overflow: auto;
    transition: max-height 0.3s ease;
    max-height: 0;
    font-size: 20px;
    font-weight: bold;
    &.show {
      justify-content: center;
      max-height: 900px;
      box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.4);
      width: 300px;
    }
    .profile-welcome-message{
      display: flex;
      justify-content: center;
      background-color: #386641;
      padding: 20px;
      color: white;
    }
    .profile-tabs ul{
      padding-left: 0;
    }
    .profile-tabs ul li{
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 1em;
      border-bottom: 1px solid;
    }
    .tab-sair{
      background-color: #da333a;
    }
    .tab-sair{
      color: white;
    }
  }
}

hr{
  border: 1px solid red;
}

@media (max-width: 768px) {
  .menu-bar-container {
    flex-direction: column;
    height: auto;
  }
  .menu-bar-tabs a {
    padding: 15px;
    display: block;
    text-align: center;
  }
}