<div class="menu-bar-container">
    <img src="assets\images\napolettáImg.png" alt="napolettá logo">
    <div class="menu-bar-tabs">
        <ul>
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['Cardapio']">Cardápio</a></li>
            <li><a [routerLink]="['Sobre']">Sobre nós</a></li>
        </ul>
    </div>
    <div class="menu-bar-icons">
        <i class="fa-solid fa-cart-shopping" id="cart" (click)="openAndCloseCart()"><span
                class="badge">{{user.cart.length}}</span></i>
        <i class="fa-solid fa-user" (click)="openAndCloseProfile()" *ngIf="loggedIn; else elseBlock"></i>
        <ng-template #elseBlock><i class="fa-solid fa-user" [routerLink]="['Login']"></i></ng-template>
    </div>
</div>


<div class="cart">
    <div class="cart-content shadow-sm" [class.show]="openCart">
        <div class="cart-exit">
            <i class="fa-solid fa-trash" style="color: #e00b0b;" (click)="deleteCart()"></i>
            <i class="fa-solid fa-circle-xmark" style="color: #e00b0b;" (click)="openCart=!openCart"></i>
        </div>
        <app-small-pizza-card *ngFor="let p of user.cart" [smallPizza]="p"></app-small-pizza-card>
        <hr>
        <div class="total-price">
            <span>Valor Total:</span>
            <span>R${{totalPrice.toFixed(2).replace('.',',')}}</span>
        </div>
        <button type="button" class="btn btn-danger" (click)="goToCart()" [routerLink]="['Carrinho']"><i
                class="fa-solid fa-forward" style="color: white;"></i></button>
    </div>
</div>

<div class="profile-container">
    <div class="profile-content shadow-sm" [class.show]="openProfile">
        <div class="profile-welcome-message">
            <span>Bem vindo, {{user.name}}!</span>
        </div>
        <div class="profile-tabs">
            <ul>
                <li><a (click)="accountDetails()" [routerLink]="['Perfil']">Editar perfil</a></li>
                <li><a href="#">Meus cupons</a></li>
                <li><a [routerLink]="['Adicionar']">Adicionar pizza</a></li>
                <li class="tab-sair"><a [routerLink]="['']" (click)="logOff()">Sair</a></li>
            </ul>
        </div>
    </div>
</div>