@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


*, *:before, *:after {
  box-sizing: border-box;
}

.menu-bar-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 110px;
    background-color: #BC4749;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
img{
    margin: 10px;
    border-radius: 5px;
}

.menu-bar-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-right: 200px;
}

.menu-bar-tabs ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-bar-tabs ul li{
    padding-right: 150px;
    font-size: 40px;
    font-weight: bolder;
    transition: all 300ms ease-in-out;
}


.menu-bar-tabs ul li:hover{
    transform: scale(1.1);
}

.menu-bar-icons{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.menu-bar-icons i{
    padding-right: 50px;
    color: black;
    font-size: 40px;
}
.badge{
  position: absolute;
  background: #386641;
  height: 2rem;
  top: 1rem;
  right: 12rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  border: 1px solid #386641;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}
.cart {
    position: fixed;
    top: 90px;
    right: 180px;
    .cart-content {
      position: absolute;
      right: 0;
      left: -120px;
      background: white;
      border-radius: 15px;
      overflow: hidden;
      transition: max-height 0.3s ease;
      max-height: 0;
      font-size: 20px;
      font-weight: bold;
      &.show {
        max-height: 900px;
        box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.4);
        height: 800px;
        width: 250px;
      }
      .cart-exit{
        display: flex;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 10px;
        justify-content: space-between;
      }
      .cart-exit i{
        margin-right: 20px;
      }
      .cart-exit i:hover{
        transform: scale(1.1);
      }
      .cart-exit i:active{
        transform: translateY(0.5px);
      }

      .small-pizza-card {
        display: flex;
        align-items: center;
        padding: .25rem .5rem;
        margin-top: 15px;
      }
  
      .small-pizza-card-name-price{
        display: flex;
        flex-direction: column;
        width: 85px;
      }
  
      .small-pizza-card-price{
        color: red;
      }
      .small-pizza-card-image{
        display: inline-block;
        margin-left: 10px;
      }
      .small-pizza-card-image img{
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        border-radius: 10%;
      }
    }
  }