<div class="pizza-card-container">
    <div class="pizza-card-name-description-image">
        <div class="pizza-name-description">
            <h1>{{pizza.pizzaName}}</h1>
            <p>{{pizza.description}}</p>
        </div>
        <div class="pizza-image">
            <img [src]="pizza.pizzaImg.url" alt={{pizza.pizzaName}}>
        </div>
    </div>
    <hr>
    <div class="pizza-price-cart">
        <span>R${{pizza.price.toFixed(2).replace('.',',')}}</span>
        <i class="fa-solid fa-plus" (click)="addToCart()"></i>
    </div>
</div>