.pizza-card-container{
    width: 600px;
    box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    height: 280px;
}

.pizza-card-name-description-image{
    margin: 10px;
    display: flex;
}
.pizza-name-description{
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-top: 10px;
}

.pizza-name-description h1{
    font-weight: bold;
}

.pizza-name-description p{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    overflow-wrap: break-word;
    color: rgb(82, 82, 82);
}

.pizza-image{
    margin-top: 20px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 10px;
}

.pizza-image img{
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    object-fit: scale-down;
    width: 250px;
    height: 170px;
    border-radius: 25%;
}

hr{
    margin-top: 15px;
    border: 1px dashed red;
}

.pizza-price-cart{
    margin: 10px;
    padding-bottom: 10px;
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.pizza-price-cart span{
    font-family: 'Montserrat', sans-serif;
}

.pizza-price-cart i{
    color: #d71d1d;
    border: 2px solid red;
    border-radius: 50%;
    padding: 5px;
    margin-left: 400px;
    transition: all 200ms ease-in-out;
}

.pizza-price-cart i:hover{
    color: white;
    background-color: red;
}

