<div class="pizza-card-container">
    <div class="pizza-card-name-description-image">
        <div class="pizza-name-description">
            <h1>{{pizza.name}}</h1>
            <p>{{pizza.description}}</p>
        </div>
        <div class="pizza-image">
            <img src="assets/images/pizza-image-placeholder.png" alt={{pizza.name}}>
        </div>
    </div>
    <hr>
    <div class="pizza-price-cart">
        <span>R${{pizza.price}}</span>
        <i class="fa-solid fa-plus" (click)="addToCart()"></i>
    </div>
</div>